@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

:root {
  --background: #f0f9ff;
  --foreground: #0f172a;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}
